h1 {
  /* styles here apply to all breakpoints unless overridden */
  font-size: 14px;
  text-align: center;
  background-color: aquamarine;
}

@media screen and (min-width: 480px) {
h1 {
  font-size: 24px; /* overrides 14px at 480px */
  background-color: teal;
}
}

@media screen and (min-width: 768px) {
h1 {
  font-size: 30px; /* overrides 24px at 768px */
}
}

/* For code organizational purposes, I would recommend keeping your code grouped where you make all of the changes to each element across all breakpoints 
in one block of code. For instance, get your h1 styled across all breakpoints before moving on to your h2, style it across all breakpoints before moving on to h3, etc. 
 */